<div class="cont">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-3 p-1">
        <div class="border rounded bg-personal text-center" *ngIf="users&&users.content">
          <h2 class="fw-bold">Users</h2>
          <p class="p-1 fs-4" *ngIf="users&&users.content.length<=1">Non ci sono altri user registrati</p>
          <div *ngIf="users&&users.content.length>1">
          <p class="p-1 " *ngFor="let u of users.content"><button class="btn fs-5" (click)="avviaChat(u.id)" *ngIf="u.id!=user.id">{{u.nome + " " + u.cognome}}</button></p>
          </div>
        </div>
        <div class="border my-2 rounded bg-personal text-center" *ngIf="chats&&chats.length!=0">
          <h2 class="fw-bold">Chat avviate</h2>
        <div *ngFor="let c of chats">
        <p *ngIf="c.tipoChat=='SINGOLA'">
              <span *ngIf="c.starter.id!=user.id"><button class="btn fs-4">{{c.sender.nome + " " + c.sender.cognome}}</button></span>
            <span *ngIf="c.partecipants[0]&&c.partecipants[0].id!=user.id"><button class="btn fs-4">{{c.partecipants[0].nome + " " + c.partecipants[0].cognome}}</button></span>
        </p>
          </div>
        </div>
      </div>
      <div class="col-md-9 p-1">
        <div class="border rounded bg-personal text-center p-2">
          <h1 class="fw-bold">Chat <span *ngIf="chat&&chat.starter.id!=user.id">con {{chat.starter.nome + " " + chat.starter.cognome}}</span>
            <span *ngIf="chat&&chat.partecipants[0]&&chat.partecipants[0].id!=user.id">con {{chat.partecipants[0].nome + " " + chat.partecipants[0].cognome}}</span></h1>
<div class="p-2 bg-personal overflow-auto position-relative"  style="min-height: 400px;">
 <div class="position-absolute top-50 start-50 translate-middle bg-image-logo" *ngIf="!chat">
<img src="assets/home/icon.png" alt="" class="w-100">
 </div>
  <div *ngIf="chat">
 <h2 *ngIf="!chat.messaggio||chat.messaggio.length==0" class="bg-white rounded p-2 m-auto" style="width: fit-content;">Inizia tu la conversazione.</h2>
<div *ngFor="let message of chat.messaggio">
 <div class="text-start" *ngIf="message.sender.id!=user.id">
<div class="p-1 border rounded bg-personal w-50">
  <p class="fs-5">{{message}}</p>
  {{message.sender.nome + " " + message.sender.cognome}}
</div>
</div>
<div class="text-end" *ngIf="message.sender.id==user.id">
<div class="p-1 border rounded bg-personal w-50">
  <p class="fs-5">{{message}}</p>
  {{message.receiver[0].nome + " " + message.receiver[0].cognome}}
</div>
</div>
</div>
<div class="p-1 m-1 w-75 border rounded bg-personal position-absolute bottom-0 start-50 translate-middle-x">
<form [formGroup]="chatForm">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="messaggio"></textarea>
<button class="btn btn-primary m-2" (click)="inviaMessaggio()">Send</button></form>
</div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>
