<div class="cont">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-3 p-1">
        <div class="border rounded bg-personal text-center" *ngIf="users&&users.content">
          <h2 class="fw-bold">Users <span class="px-2"><button mat-button [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="createGroupChat()">Crea chat di gruppo</button>
            </mat-menu></span></h2>
          <p class="p-1 fs-4" *ngIf="users&&users.content.length<=1">Non ci sono altri user registrati</p>
          <div *ngIf="users&&users.content.length>1">
          <p class="p-1 " *ngFor="let u of users.content"><button class="btn fs-5" (click)="avviaChat(u.id)" *ngIf="u.id!=user.id">{{u.nome + " " + u.cognome}}</button></p>
          </div>
        </div>
        <div class="border my-2 rounded bg-personal text-center" *ngIf="chats&&chats.length!=0">
          <h2 class="fw-bold">Chat avviate</h2>
        <div *ngFor="let c of chats">
        <p *ngIf="c.tipoChat=='SINGOLA'">
              <span *ngIf="c.starter.id!=user.id"><button class="btn fs-4"  (click)="avviaChat(c.starter.id)" >{{c.starter.nome + " " + c.starter.cognome}}</button></span>
            <span *ngIf="c.partecipants[0]&&c.partecipants[0].id!=user.id"><button class="btn fs-4"  (click)="avviaChat(c.partecipants[0].id)" >{{c.partecipants[0].nome + " " + c.partecipants[0].cognome}}</button></span>
        <span class="fs-4" *ngIf="c.notifications&&c.notifications[0]&&c.notifications[0].receiver[0].id==user.id&&c.notifications[0].statoNotifica=='NOT_SAW'||
        c.notifications&&c.notifications[1]&&c.notifications[1].receiver[0].id==user.id&&c.notifications[1].statoNotifica=='NOT_SAW'"><mat-icon matBadge="1" matBadgeColor="warn" class="text-danger bg-white rounded ">notifications_on</mat-icon></span>
          </p>
          <p *ngIf="c.tipoChat=='DI_GRUPPO'">
          <span (click)="openGroupChat(c)">{{c.nome}}</span>
          </p>
          </div>
        </div>
      </div>
      <div class="col-md-9 p-1">
        <div class="border rounded bg-personal text-center p-2">
          <h1 class="fw-bold">Chat <span *ngIf="chat&&chat.starter.id!=user.id">con {{chat.starter.nome + " " + chat.starter.cognome}}</span>
            <span *ngIf="chat&&chat.partecipants[0]&&chat.partecipants[0].id!=user.id">con {{chat.partecipants[0].nome + " " + chat.partecipants[0].cognome}}</span></h1>
<div class="p-2 bg-personal position-relative"  style="min-height: 500px;">
 <div class="position-absolute top-50 start-50 translate-middle bg-image-logo" *ngIf="!chat">
<img src="assets/home/icon.png" alt="" class="w-100">
 </div>
  <div *ngIf="chat" class="d-flex flex-column">
 <h2 *ngIf="!chat.messaggio||chat.messaggio.length==0" class="bg-white rounded p-2 m-auto" style="width: fit-content;">Inizia tu la conversazione.</h2>
<div style="height: 380px;" class="overflow-auto">
  <div *ngIf="chat.messaggio">
    <div *ngFor="let message of chat.messaggio">
 <div class="d-flex justify-content-start text-start" *ngIf="message.sender.id!=user.id">
<div class="p-1 border rounded bg-darker text-white w-50">
  <span class="fw-bold">{{message.sender.nome + " " + message.sender.cognome}}</span>
  <p class="fs-5">{{message.message}}</p>
</div>
</div>
<div class="d-flex justify-content-end text-end">
<div class="p-1 border rounded bg-darker text-white w-50" *ngIf="message.sender.id==user.id">
   <span class="fw-bold">{{message.sender.nome + " " + message.sender.cognome}}</span>
   <p class="fs-5">{{message.message}}</p>
</div>
</div>
</div>
  </div>
</div>
<div class="p-1 m-1 w-75 border rounded bg-personal m-auto align-text-bottom">
<form [formGroup]="chatForm">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="messaggio"></textarea>
<button class="btn btn-primary m-2" (click)="inviaMessaggio()">Send</button></form>
</div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>
