<div class="cont">
  <div class="container">
  <div class="row position-relative py-5">
    <div class="col-md-12 text-center py-5 my-5">
      <div class="py-5 my-5">
             <img src="assets/home/icon.png" alt="" class="py-5 my-2 message">
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-xl-4 p-2 py-5" *ngFor="let i of images">
<div>
  <div class="upper p-5">
<div class="bg-lighter px-5 overflow-auto">
  <h1>{{i.title}}</h1>
  <p>{{i.description}}</p>
</div>
  </div>
  <div class="lower">
  <img src="{{i.image}}" class="w-100" style="min-height: 100%;">
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-md-12 py-5 my-5"></div>
    <div class="col-md-12 py-5">
      <div class="row">
         <div class="col-md-4 py-5 my-5 ">
      <img src="assets/home/network.jpg" alt="" class="w-100 hiddenDiv my-5"  #hiddenDiv style="max-height: 300px;">
    </div>
    <div class="col-md-8 py-5 text-center shadow bg-lighter my-5"  style="height: fit-content;">
<h1>Take care of your network</h1>
<p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
      </div>
    </div>
  </div>
</div>

</div>
