<div class="cont">
  <div class="container">
    <div class="row text-center py-5">
      <div class="col-md-12 py-5">
              <h1>Start your chats now!</h1>
      </div>
<div class="col-md-12 text-dark py-5">
  <div class="row">
    <div class="col-md-3"></div>
      <div *ngIf="section=='login'" class="col-md-6 form-container">
    <form [formGroup]="loginForm" class="p-4">
<label for="" class="py-4 fs-3 fw-bold">Email</label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="email">
<label for="" class="py-4 fs-3 fw-bold">Password</label>
<input type="password" class="form-control bg-transparent m-auto" formControlName="password">
<div class="p-2 d-flex justify-content-around">
<button class="px-3 py-2" (click)="login()">LOGIN</button>
<button class="px-3 py-2" (click)="section='signup'">SIGNUP</button></div>
</form>
  </div>
  <div *ngIf="section=='signup'"  class="col-md-6 form-container">
    <form [formGroup]="signupForm" class="p-4">
      <div class="row">
<div class="col-md-6">
   <label for="" class="py-4 fs-3 fw-bold">Nome  <span class="fs-6">(min 3)</span></label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="nome">
</div>
<div class="col-md-6">
<label for="" class="py-4 fs-3 fw-bold">Cognome  <span class="fs-6">(min 3)</span></label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="cognome">
</div>
<div class="col-md-12">
  <label for="" class="py-4 fs-3 fw-bold">Email</label>
<input type="text" class="form-control bg-transparent m-auto" formControlName="email">
</div>
<div class="col-md-12">
  <label for="" class="py-4 fs-3 fw-bold">Età</label>
<input type="number" class="form-control bg-transparent m-auto" formControlName="eta">
</div>
<div class="col-md-6">
  <label for="" class="py-4 fs-3 fw-bold">Password <span class="fs-6">(min 6)</span></label>
<input type="password" class="form-control bg-transparent m-auto" formControlName="password">
</div>
<div class="col-md-6">
  <label for="" class="py-4 fs-3 fw-bold">Ripeti<span class="fs-6">(min 6)</span></label>
<input type="password" class="form-control bg-transparent m-auto" formControlName="ripetiPassword">
</div>
      </div>
      <div class="p-2 d-flex justify-content-around">
      <button class="px-3 py-2" (click)="signup()">SIGNUP</button>
      <button class="px-3 py-2" (click)="section='login'">LOGIN</button>
      </div>
    </form>
  </div>
    <div class="col-md-3"></div>
  </div>

</div>
</div>
    </div>
  </div>

