.cont{
  background: url('../../../assets/app-bg/chat.avif');
  font-family: 'Mukta', sans-serif!important;
  color:white
}
button{
  border:none
}
.form-container{
  background: rgba(255, 255, 255, 0.6);
  border:2px solid white;
  .form-control{
    border:2px solid black
  }
}
