<nav>
  <div class="row text-center p-3 text-dark fs-4">
    <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/home'">Home</button>
    </div>
    <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/chat'">Chat</button>
    </div>
    <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="['/profilo',user?.id]">Profile</button>
    </div>
    <div class="col-md-3">
    <button class="btn fs-4" [routerLink]="'/'" *ngIf="!isAuthenticated">Login/Signup</button>
    <button class="btn fs-4" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
  </div>
  </div>
</nav>
